<form (ngSubmit)="onSubmit()" #loginForm="ngForm" style="">

    <md-input-container>
        <input mdInput placeholder="User name" name="userName" type="text" required [(ngModel)]="user.userName">
    </md-input-container>

    <md-input-container>
        <input mdInput placeholder="Password" name="password" type="password" required [(ngModel)]="user.password">
    </md-input-container>

    <button md-raised-button color="primary" type="submit" [disabled]="!loginForm.form.valid" >Submit</button>

    <button md-raised-button routerLink="/register"> Register </button>

</form>


