<form (submit)="onSubmit()" #registerForm="ngForm">
    <md-input-container>
        <input mdInput type="text" required placeholder="First name" name="firstName" [(ngModel)]="user.firstName">
    </md-input-container>

    <md-input-container>
        <input mdInput type="text" required placeholder="Last name" name="lastName" [(ngModel)]="user.lastName">
    </md-input-container>

    <md-input-container>
        <input mdInput type="email" required placeholder="Email" name="email" [(ngModel)]="user.email">
    </md-input-container>

    <div *ngIf="errorMessage" color="warn">
        {{ errorMessage }}
    </div>

    <span *ngIf="!loginState">
        <button md-raised-button color="primary" type="submit"> Submit </button>
    </span>

    <div *ngIf="loginState">
        <md-spinner></md-spinner>
    </div>
</form>
