<form (submit)="onSubmit()" #registerForm="ngForm" *ngIf="!success">
    <md-input-container>
        <input mdInput type="text" required placeholder="First name" name="firstName" [(ngModel)]="user.firstName">
    </md-input-container>

    <md-input-container>
        <input mdInput type="text" required placeholder="Last name" name="lastName" [(ngModel)]="user.lastName">
    </md-input-container>

    <md-input-container>
        <input mdInput type="email" required placeholder="Email" name="email" [(ngModel)]="user.email">
    </md-input-container>

    <div *ngIf="errorMessage" color="warn">
        {{ errorMessage }}
    </div>

    <span *ngIf="!loadingState">
        <button md-raised-button color="primary" type="submit"> Submit </button>
    </span>

    <div *ngIf="loadingState">
        <md-spinner></md-spinner>
    </div>
</form>

<div *ngIf="success">
    <md-card-title> {{ success.status }} </md-card-title>
    <md-card-subtitle>Login with your new credentials</md-card-subtitle>
    <md-card-actions>
        <button md-raised-button color="primary" type="submit"routerLink="/login" > Login </button>
    </md-card-actions>
</div>
