<md-card class="title">
    Server - client connectivity
</md-card>


<div class="connection-container">
    <div class="machine-container">
        <md-card class="machine-title-card">
            <md-card-title>Server</md-card-title>
        </md-card>
        <md-card> <fake-server-display></fake-server-display> </md-card>
    </div>

    <div class="machine-container">
        <md-card class="machine-title-card">
            <md-card-title>Client</md-card-title>
        </md-card>
        <md-card> <client-display></client-display> </md-card>
    </div>
</div>

