<div>
    <md-card-title>Trying to login</md-card-title>

    <md-card-subtitle *ngIf="subject">

        <div>
            <span>User Name: <span class="subtitle-values">{{ subject.user.userName }}</span></span>
        </div>

        <div>
            <span>Password: <span class="subtitle-values">{{ subject.user.password }}</span></span>
        </div>

        <md-divider></md-divider>

    </md-card-subtitle>

    <md-card-content>

        <form (ngSubmit)="onResolve()" #acceptForm="ngForm">

            <button md-raised-button color="primary" type="submit">
                Resolve promise
            </button>

        </form>

    </md-card-content>

    <md-card-content>

        <form (ngSubmit)="onReject()" #rejectForm="ngForm" class="">

            <md-input-container>
                <input type="text" mdInput required placeholder="Error message" [(ngModel)]="errorMessage" name="errorMessage">
            </md-input-container>

            <button [disabled]="!rejectForm.form.valid" md-raised-button color="warn" type="submit">
                Reject promise
            </button>

        </form>

    </md-card-content>

    <md-card-actions>

    </md-card-actions>

</div>
